/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #00f;
  cursor: pointer;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: lightskyblue;
}

/* all similar content styling codes */
section{
  padding: 100px 0;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.about, footer{
  font-family: 'Ubuntu', sans-serif;
}
.about .about-content
{
/* .contact .contact-content */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
}
section .title::before{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after{
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 15px 0;
  background: blue;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.space{
  margin-right: 700px;
}
.navbar .logo a{
  color: black;
  font-size: 35px;
  font-weight: 600;
  /* just added */
  text-decoration: none;
}
/* .navbar .logo a span{ */
  .highlight{
  color: blue;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: #fff;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  display: block;
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 25px;
  transition: color 0.3s ease;
  text-decoration: none;
}
.navbar .menu li a:hover{
  color: blue;
}
.navbar.sticky .menu li a:hover{
  color: #fff;
}
/* menu btn styling */
.menu-btn{
  color: #000;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: blue;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}

/* home section styling */
.home{
  display: flex;
  /* background: url("images/banner.jpg") no-repeat center; */
  /* background: url("https://wallpaperaccess.com/full/1388842.jpg") no-repeat center; */
  background: white;
  height: 100vh;
  color: #000;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
width: 100%;
display: flex;
}
.home .max-width .long{
margin-right: 0;
}
.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span{
  color: blue;
  font-weight: bold;
}
.home .home-content a{
  display: inline-block;
  background: blue;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid blue;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: blue;
  background: none;
}
/* about section styling */
.about h2{
  color: white;
}
.about a{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.about .about-content .left{
  width: 45%;
}
.about .about-content .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .right{
  width: 55%;
}
#about{
  background-color: blue;
}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right p{
  text-align: justify;
  font-size: 20px;
  color: #fff;
}
.about .about-content .text{
  color: #fff;
}
.about-content img{
  cursor: pointer;
  transition: ease-out 0.1s;
}
.about-content img:hover{
  border: 5px solid gold;
}
.about .about-content .right a:hover{
  color: crimson;
  background: none;
}

/* Contact */
 .contact-section { 
   background: url(bg.png) no-repeat center; 
   background: white;
  background-size: cover;
}
.contact-section h1 {
  text-align: center;
  color: blue;
  font-size: 50px;
}
.contact-section h2{
  padding-bottom: 10px;
}
.border {
  /* width: 500px; */
  width: 50%;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
  border-radius: 50%;
}
.border:hover{
  background: red;
}

.contact-form {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
} 

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #34495e;
  padding: 20px 40px;
  outline: none;
  color: #fff;
  font-size: 20px;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 4px red;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.send-btn{
  width: 100%;
  padding: 40px 330px;
}
.contact-form-btn {
  margin-top: 20px;
  margin-left: 38%;
  width: 200px;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
}
.contact-form-btn:hover {
  background: red;
} 
.contact-section .homeadd{
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: blue;
}
/* Contact */

/* Projects */
img {
  width: 100%;
  min-height: 250px;
}
.main {
  padding: 40px 40px;
}
.col-md-3 {
  margin-bottom: 40px;
}
.album-poster {
  position: relative;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 15px 35px #3d2173a1;
  transition: all ease 0.4s;
}
.album-poster:hover {
  box-shadow: none;
  transform: scale(0.98) translateY(5px);
}
h3 {
  font-size: 34px;
  margin-bottom: 34px;
  border-bottom: 4px solid #e6e6e6;
  padding-bottom: 15px;
  text-align: center;
}
p {
  font-size: 15px;
}
h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 700;
}
/* Portfolio */
.album-poster img {
  width: 100%;
  min-height: 250px;
}

.col-md-3 {
  margin-bottom: 40px;
}
.album-poster {
  position: relative;
  display: block;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 15px 35px #3d2173a1;
  transition: all ease 0.4s;
}
.album-poster:hover {
  box-shadow: none;
  transform: scale(0.98) translateY(5px);
}
h3 {
  font-size: 34px;
  margin-bottom: 34px;
  border-bottom: 4px solid #e6e6e6;
  padding-bottom: 15px;
}
p {
  font-size: 15px;
}
h4 {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  font-weight: 700;
}
/* Projects: End */

/* Footer */
.footer{
  background: black;
} 
.footer .social a {
  margin: 0 10px;
}
.footer .social i{
  color: blue;
}
.footer .social i:hover{
  color: white;
}
.holder {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.details{
  color: white;
}
.details li{
  list-style: none;
}
.details li a{
  font-size: 20px;
  color: white;
}
.details li a:hover{
  color: blue;
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 { 
  grid-template-columns: repeat(3, 1fr);
}
/* Footer: End */

/* Responsiveness */
/* responsive media query start */
@media screen and (max-width: 1104px) {
  .about .about-content .left img{
      height: 350px;
      width: 350px;
  }
  .space{
    margin-right: 500px;
  }
}

@media screen and (max-width: 1084px) {
  .fa-discord{
    margin-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
  .space{
    margin-right: 300px;
  }
}

@media screen and (max-width: 947px){
  .menu-btn{
      display: block;
      z-index: 999;
  }
  .menu-btn i.active:before{
      content: "\f00d";
  }
  .navbar .menu{
      position: fixed;
      height: 100vh;
      width: 100%;
      left: -100%;
      top: 0;
      background: gray;
      text-align: center;
      padding-top: 80px;
      transition: all 0.3s ease;
  }
  .navbar .menu.active{
      left: 0;
  }
  .navbar .menu li{
      display: block;
  }
  .navbar .menu li a{
      display: inline-block;
      margin: 20px 0;
      font-size: 25px;
  }
  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 35px;
  }
}

@media screen and (min-width: 850px) and (max-width: 986px){
  .send-btn{
    width: 100%;
    padding: 40px 290px;
  }
  .contact-form-btn{
    margin-left: 25%;
  }
}

@media screen and (max-width: 750px){
  .scroll-up-btn{
    margin-bottom: 200px;
  }  
}

@media screen and (max-width: 600px){
  .fa-instagram{
    margin-top: 20px;
  }
}

 @media screen and (max-width: 850px){
  .send-btn{
    width: 100%;
    padding: 40px 300px;
  }
  .contact-form-btn{
    margin-top: 20px;
    margin-left: 20px;
    padding: 12px 50px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 822px){
  .send-btn{
    padding: 40px 280px;
  }
}

@media screen and (max-width: 782px){
  .send-btn{
    padding: 40px 250px;
  }
}

@media screen and (max-width: 722px){
  .send-btn{
    padding: 40px 240px;
  }
}

@media screen and (max-width: 702px){
  .send-btn{
    padding: 40px 220px;
  }
}

@media screen and (min-width: 622px) and (max-width: 662px){
  .send-btn{
    padding: 40px 200px;
  }
}

@media screen and (min-width: 582px) and (max-width: 622px){
  .send-btn{
    padding: 40px 180px;
  }
}

@media screen and (min-width: 542px) and (max-width: 580px){
  .send-btn{
    padding: 40px 160px;
  }
}

@media screen and (min-width: 500px) and (max-width: 540px){
  .send-btn{
    padding: 40px 140px;
  }
}

@media screen and (min-width: 455px) and (max-width: 462px){
  .send-btn{
    padding: 20px 100px;
  }
}

@media screen and (max-width: 462px) {
  a.contact-form-btn{
    padding: 10px 40px;
  }  
}

@media screen and (min-width: 460px) and (max-width: 500px){
  .send-btn{
    padding: 40px 120px;
  }
  .space{
    margin-right: 200px;
  }
}

@media screen and (min-width: 422px) and (max-width: 456px){
  .send-btn{
    padding: 40px 100px;
  }
  .space{
    margin-right: 200px;
  }
}

@media screen and (max-width: 471px){
  .fa-twitter{
    margin-top: 20px;
  }
}

@media screen and (max-width: 465px){
  .fa-facebook{
    margin-top: 20px;
  }
}

@media screen and (max-width: 457px){
  .fa-linkedin{
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px){
  .grid{
    display: inline-block;
  }
}

@media screen and (min-width: 402px) and (max-width: 420px){
  .send-btn{
    padding: 40px 80px;
  }
  .space{
    margin-right: 200px;
  }
}
@media screen and (min-width: 360px) and (max-width: 401px){
  .send-btn{
    padding: 40px 50px;
  }
  .space{
    margin-right: 150px;
  }
}
@media screen and (min-width: 322px) and (max-width: 358px){
  .send-btn{
    padding: 40px 50px;
  }
  .space{
    margin-right: 130px;
  }
}
@media screen and (min-width: 280px) and (max-width: 320px){
  .send-btn{
    padding: 40px 0px;
  }
  .space{
    margin-right: 80px;
  }
} 

@media screen and (max-width: 690px) {
  .max-width{
    padding: 0 23px;
  }
  .home .home-content .text-2{
    font-size: 60px;
  }
  .home .home-content .text-3{
    font-size: 32px;
  }
  .home .home-content a{
    font-size: 20px;
  }
  .services .serv-content .card{
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .home .home-content .text-2{
    font-size: 50px;
  }
  .home .home-content .text-3{
    font-size: 27px;
  }
  .about .about-content .right .text,
  .skills .skills-content .left .text{
    font-size: 19px;
  }
  .contact .right form .fields{
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email{
    margin: 0;
  }
  .right form .error-box{
     width: 150px;
    }
    .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
    }
  }
  
  /* Media query at max-width: 400px for home section*/ 
  @media screen and (max-width: 400px){
    .text-3 span{
      display: inline-block;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 500px){
      footer{
        padding-bottom: 50px;
        padding-top: 50px;
      }
      .rights{
        margin-top: 10px;
        margin-bottom: 10px;
      }
  }